<div class="card card-style">
    <img src="images/pictures/19w.jpg" class="img-fluid">
    <div class="content">
        <p class="mb-n1 color-highlight font-600">Video Tutorials</p>
        <h1>Adobe Photoshop</h1>
        <p class="opacity-60 text-uppercase font-10 mt-n2 font-600 mb-1">Beginner - 15 Minutes</p>

        <p>
            This course aims to teach you how to create awesome effects in Adobe Photoshop using the best practices in the industry.
        </p>

        <div class="d-flex">
            <div class="me-auto">
                <div class="list-group list-custom-large mt-n3">
                    <a href="#" class="border-0">
                        <img src="images/pictures/1s.jpg" class="rounded-sm">
                        <span>John Droid</span>
                        <strong>Senior Designer</strong>
                    </a>
                </div>
            </div>
            <div>
                <a href="#" class="btn btn-full btn-s font-600 rounded-s gradient-highlight mt-1 float-start ">Read More</a>
            </div>
        </div>
    </div>
    <div class="divider mb-0"></div>
    <div class="content">
        <p class="font-600 mb-n1 color-highlight">Table of</p>
        <h1 class="mb-0">Contents</h1>
        <p>
            Here is what you can expect from our course. Be sure to view all of them, from start to finish to get your certificate.
        </p>

        <div class="d-flex mb-4">
            <div class="align-self-center">
                <h1 class="font-40 opacity-20 mb-n1 icon-80">01</h1>
            </div>
            <div class="align-self-center">
                <h5 class="font-12 mb-n1 opacity-30">05:30 minutes</h5>
                <h5 class="mb-0">Introduction</h5>
            </div>
            <div class="align-self-center ms-auto">
                <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
        </div>
        <div class="d-flex mb-4">
            <div class="align-self-center">
                <h1 class="font-40 opacity-20 mb-n1 icon-80">02</h1>
            </div>
            <div class="align-self-center">
                <h5 class="font-12 mb-n1 opacity-30">25:30 minutes</h5>
                <h5 class="mb-0">Editing a Photo</h5>
            </div>
            <div class="align-self-center ms-auto">
                <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
        </div>
        <div class="d-flex mb-4">
            <div class="align-self-center">
                <h1 class="font-40 opacity-20 mb-n1 icon-80">03</h1>
            </div>
            <div class="align-self-center">
                <h5 class="font-12 mb-n1 opacity-30">1:20 minutes</h5>
                <h5 class="mb-0">Saving to Modern Formats</h5>
            </div>
            <div class="align-self-center ms-auto">
                <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
        </div>
        <div class="d-flex mb-4">
            <div class="align-self-center">
                <h1 class="font-40 opacity-20 mb-n1 icon-80">04</h1>
            </div>
            <div class="align-self-center">
                <h5 class="font-12 mb-n1 opacity-30">1:20 minutes</h5>
                <h5 class="mb-0">Customer pespective</h5>
            </div>
            <div class="align-self-center ms-auto">
                <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
        </div>
        <div class="d-flex mb-4">
            <div class="align-self-center">
                <h1 class="font-40 opacity-20 mb-n1 icon-80">05</h1>
            </div>
            <div class="align-self-center">
                <h5 class="font-12 mb-n1 opacity-30">1:20 minutes</h5>
                <h5 class="mb-0">Finishing Words</h5>
            </div>
            <div class="align-self-center ms-auto">
                <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight"></i></a></h1>
            </div>
        </div>

        <div class="divider"></div>

        <p class="font-600 mb-n1 color-highlight">Get your</p>
        <h1 class="mb-0">Cerfication</h1>
        <p>
            After finishing this course you'll get a graduation diploma. Be sure to watch all the chapters all the way.
        </p>
        <a href="#" class="btn btn-full btn-m rounded-sm gradient-dark font-600">Course Incomplete - Complete to Download</a>

    </div>
</div>