<div class="">
    <div class="content mb-0">
        <div class="d-flex">
            <div class="align-self-center">
                <h1 class="mb-0 font-15">Набрали больше всего баллов за последние 180 дней</h1>
            </div>
        </div>
    </div>
    
    <div class="card card-style">
        <a href="#" class="content my-3">
            <div class="d-flex">
                <div class="ps-1">
                    <h6 class="font-600 font-12 opacity-50 mb-0">960 баллов</h6>
                    <h5 class="mb-1">Сидорова Анастасия</h5>
                </div>
            </div>
        </a>
        <div class="divider mb-0 mt-n2"></div>
        <a href="#" class="content my-3">
            <div class="d-flex">
                <div class="ps-1">
                    <h6 class="font-600 font-12 opacity-50 mb-0">420 баллов</h6>
                    <h5 class="mb-1">Иванов Александр</h5>
                </div>
            </div>
        </a>
        <div class="divider mb-0 mt-n2"></div>
        <a href="#" class="content my-3">
            <div class="d-flex">
                <div class="ps-1">
                    <h6 class="font-600 font-12 opacity-50 mb-0">380 баллов</h6>
                    <h5 class="mb-1">Самофалова Ириска</h5>
                </div>
            </div>
        </a>
        <div class="divider mb-0 mt-n2"></div>
        <a href="#" class="content my-3">
            <div class="d-flex">
                <div class="ps-1">
                    <h6 class="font-600 font-12 opacity-50 mb-0">375 баллов</h6>
                    <h5 class="mb-1">Шаповалова Арина</h5>
                </div>
            </div>
        </a>
    </div>
</div>