<div class="card card-style card-full" style="background-image: url(./static/images/pictures/meritt-thomas-unsplash.jpg);" data-card-height="270">
    <div class="card-top pt-4 ps-3">
        <h1 class="color-white font-14 mb-0">Хочешь делать добрые дела?</h1>
        <h1 class="color-white font-800 font-32 mb-0">будь</h1>
        <h1 class="color-white font-800 font-40 mb-4">волонтером</h1>
        <p class="color-white font-700 font-15 opacity-60">
            У тебя есть возможность стать волонтером и начать делать добрые дела, которые будут менять жизни людей и коммьюнити вокруг.<br>
        </p>
    </div>
    <div class="card-bottom pe-3 mb-3">
        <div class="float-end">
            <a href="became-volunteer-init" data-menu="menu-join" class="btn btn-s bg-white color-black font-600 rounded-s" data-link>Стать волонтером</a>
        </div>
    </div>
    <div class="card-overlay bg-black opacity-40"></div>
</div>

<div class="card card-style card-full" style="background-image: url(./static/images/pictures/niclas-illg-unsplash.jpg);" data-card-height="270">
    <div class="card-top pt-4 ps-3">
        <h1 class="color-white font-14 mb-0">Нужна поддержка в добром деле?</h1>
        <h1 class="color-white font-800 font-32 mb-0">тебе помогут</h1>
        <h1 class="color-white font-800 font-40 mb-4">волонтеры</h1>
        <p class="color-white font-700 font-15 opacity-60">
            Волонтеры всегда рады поддержать Вас в добрых делах. Смело расскажите о Вашей инициативе и волонтеры откликнутся!<br>
        </p>
    </div>
    <div class="card-bottom pe-3 mb-3">
        <div class="float-end">
            <a href="#" data-menu="menu-join" class="btn btn-s bg-white color-black font-600 rounded-s">Разместить задание</a>
        </div>
    </div>
    <div class="card-overlay bg-black opacity-40"></div>
</div>